/public/assets/docs/Teilnehmer.mp4
/nbproject/private/
/nbproject/
/share/plugins/repository/omega/
/share/elements/e_i_edit.html
/share/elements/e_task.html
/share/elements/e_coursebook.html
/share/plugins/
.gitignore