/* This file is part of curriculum - http://www.joachimdieterich.de
 * 
 * @package core
 * @filename all.css - css definitions
 * @copyright 2013 Joachim Dieterich
 * @author Joachim Dieterich
 * @date 2013.03.08 13:26
   
 parts of this file are based on the following projects:
 - HTML5 ✰ Boilerplate
  style.css contains a reset, font normalization and some base styles.
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart

 - html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
   v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
   html5doctor.com/html-5-reset-stylesheet/
*/

.printbtn, .editbtn,.filebtn, .certificatebtn, .clockbtn, .tagsbtn, .numberedbtn, .rolebtn, .userbtn, .deletebtn, .removebtn, .addbtn, .addmaterialbtn, .leftbtn, .rightbtn, .upbtn, .downbtn, 
.addsolutionbtn, .okbtn, .ok2btn, .notbtn, .groupbtn, .institutionbtn, .calbtn, .listbtn, .listaltbtn, .downloadbtn, .helpbtn, .curriculumdocsbtn, .answerbtn,
.mailinbtn, .mailoutbtn, .mailnewbtn, .maildelbtn, .bdgbtn, .infobtn, .checkbtn, .smallthumbbtn, .checkgreenbtn, .checkredbtn, .checkorangebtn, .checkwhitebtn,
.checkactivegreenbtn, .checkactiveredbtn, .checkactiveorangebtn, .checkactivewhitebtn{ 
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    margin-right: 5px;    
    height: 16px;
    width: 16px;
    border: none;
    cursor: pointer;
    vertical-align: middle; 
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

.xmlbtn{
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    margin-right: 5px;    
    height: 14px;
    width: 58px;
    border: none;
    cursor: pointer;
    vertical-align: middle; 
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}
.checkactivegreenbtn, .checkactiveredbtn, .checkactiveorangebtn, .checkactivewhitebtn{ 
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    margin-right: 5px;    
    height: 18px;
    width: 22px;
    border: none;
    cursor: pointer;
    vertical-align: middle; 
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}
.pointer_hand{
     cursor: pointer;
}
.commentbtn{
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: help;
    vertical-align: middle;  
}
.deactivatebtn {
    opacity:0.2;
    filter:alpha(opacity=20); /* For IE8 and earlier */
    cursor: not-allowed !important;
}
.inbtn, .outbtn{ 
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-color: transparent;
    margin-right: 5px;    
    height: 27px;
    width: 27px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    opacity:0.5;
    filter:invert;
}

.invert{
   filter: invert(100%);
   -webkit-filter: invert(100%);
}

.bdgbtn         { background-image: url('../images/icons/badges-icon32x32.png');}
.inbtn          { background-image: url('../images/icons/glyphicons_131_inbox_plus.png'); }
.outbtn         { background-image: url('../images/icons/glyphicons_132_inbox_minus.png'); }
.printbtn       { background-image: url('../images/icons/glyphicons_015_print.png'); }
.calbtn         { background-image: url('../images/icons/glyphicons_045_calendar.png');  }
.filebtn        { background-image: url('../images/icons/glyphicons_036_file.png');  }
.certificatebtn { background-image: url('../images/icons/glyphicons-685-article.png');  }
.clockbtn       { background-image: url('../images/icons/glyphicons-55-clock.png');  }
.tagsbtn        { background-image: url('../images/icons/glyphicons-67-tags.png');  }
.numberedbtn    { background-image: url('../images/icons/glyphicons-710-list-numbered.png');  }
.rolebtn        { background-image: url('../images/icons/glyphicons-715-user-structure.png');  }
.userbtn        { background-image: url('../images/icons/glyphicons-4-user.png');  }
.smallthumbbtn  { background-image: url('../images/icons/glyphicons-157-show-thumbnails.png');  }
.listaltbtn  { background-image: url('../images/icons/glyphicons-530-list-alt.png');  }
.listbtn        { background-image: url('../images/icons/glyphicons_156_show_thumbnails_with_lines.png'); 
                  background-size: 16px 12px;
                  margin-top: 3px; }
.addbtn         { background-image: url('../images/icons/glyphicons_190_circle_plus.png'); }
.addmaterialbtn { background-image: url('../images/icons/glyphicons_190_circle_plus.png'); }
.addsolutionbtn { background-image: url('../images/icons/glyphicons_201_upload.png'); }
.answerbtn      { background-image: url('../images/icons/glyphicons_221_unshare.png'); }
.editbtn        { background-image: url('../images/icons/glyphicons_151_edit.png'); }
.checkbtn       { background-image: url('../images/icons/glyphicons_150_check.png'); 
                  margin-top: 2px;}
.checkactivegreenbtn  { background-image: url('../images/icons/checkbox_green.png');margin-top: 2px;}
.checkactiveredbtn    { background-image: url('../images/icons/checkbox_red.png');margin-top: 2px;}
.checkactiveorangebtn { background-image: url('../images/icons/checkbox_orange.png');margin-top: 2px;}
.checkactivewhitebtn  { background-image: url('../images/icons/checkbox_white.png'); }
.checkgreenbtn  { background-image: url('../images/icons/glyphicons-154-unchecked-green.png');}
.checkredbtn    { background-image: url('../images/icons/glyphicons-154-unchecked-red.png');}
.checkorangebtn { background-image: url('../images/icons/glyphicons-154-unchecked-orange.png');}
.checkwhitebtn  { background-image: url('../images/icons/glyphicons-154-unchecked-white.png');}
.deletebtn      { background-image: url('../images/icons/glyphicons_191_circle_minus.png'); }
.removebtn      { background-image: url('../images/icons/glyphicons_192_circle_remove.png'); }
.groupbtn       { background-image: url('../images/icons/glyphicons_043_group.png'); }
.institutionbtn { background-image: url('../images/icons/glyphicons_263_bank.png'); }
.helpbtn        { background-image: url('../images/icons/glyphicons_194_circle_question_mark.png'); 
                  cursor:help; }
.curriculumdocsbtn { background-image: url('../images/icons/glyphicons_194_circle_question_mark.png'); 
                  cursor:help; height: 20px; }
.downloadbtn    { background-image: url('../images/icons/glyphicons_200_download.png');
                  margin-left: -4px;}
.xmlbtn         { background-image: url('../images/icons/glyphicons-118-embed-xml.png');}
.mailinbtn      { background-image: url('../images/icons/glyphicons_122_message_in.png'); }
.mailoutbtn     { background-image: url('../images/icons/glyphicons_123_message_out.png'); }
.mailnewbtn     { background-image: url('../images/icons/glyphicons_124_message_plus.png'); }
.maildelbtn     { background-image: url('../images/icons/glyphicons_125_message_minus.png'); }
.commentbtn     { background-image: url('../images/icons/glyphicons_309_comments.png'); }
.okbtn          { background-image: url('../images/icons/glyphicons_206_ok_2.png') ;}
.ok2btn         { background-image: url('../images/icons/glyphicons_206_ok_3.png') ;}
.leftbtn        { background-image: url('../images/icons/glyphicons_210_left_arrow.png'); }
.rightbtn       { background-image: url('../images/icons/glyphicons_211_right_arrow.png'); }
.downbtn        { background-image: url('../images/icons/glyphicons_212_down_arrow.png'); }
.upbtn          { background-image: url('../images/icons/glyphicons_213_up_arrow.png'); }
.notbtn         { background-image: url('../images/icons/glyphicons_207_remove_2.png'); }
.infobtn        { background-image: url('../images/icons/glyphicons_195_circle_info.png');}
.btntext {
    margin-bottom: 1px;
    position: absolute;
    padding-top: 5px;
    margin-left: 30px;
    top :0px; left:0px; right:0px;
    width: 100%;
    height: 20px;
}

/*Filetype buttons - allgemeine Eigenschaften*/
.url_btn, .pdf_btn, .txt_btn, .rtf_btn, .jpg_btn, .jpeg_btn, .png_btn, .gif_btn, 
.doc_btn, .docx_btn, .ppt_btn, .pptx_btn, .bmp_btn, .tiff_btn, .tif_btn, .mpg_btn, 
.mpeg_btn, .mpe_btn, .qt_btn, .mov_btn, .mp4_btn, .avi_btn, .aif_btn, .aiff_btn, 
.wav_btn, .mp3_btn, .m4a_btn, .zip_btn, .rar_btn, .mid_btn, .imscc_btn {
    background-repeat: no-repeat;
    background-size: 48px 48px;
    background-color: transparent;
    margin-top: 0px;
    height: 48px;
    width: 48px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}


.url_btn                        {background-image: url('../images/filetypes/url-48_32.png');}
.pdf_btn                        {background-image: url('../images/filetypes/pdf-48_32.png');}
.txt_btn, .rtf_btn              {background-image: url('../images/filetypes/text-48_32.png');}
.jpg_btn, .jpeg_btn             {background-image: url('../images/filetypes/jpeg-48_32.png');}
.png_btn                        {background-image: url('../images/filetypes/png-48_32.png');}
.gif_btn                        {background-image: url('../images/filetypes/gif-48_32.png');}
.doc_btn, .docx_btn             {background-image: url('../images/filetypes/docx_mac-48_32.png');}
.ppt_btn, .pptx_btn             {background-image: url('../images/filetypes/pptx_mac-48_32.png');}
.bmp_btn                        {background-image: url('../images/filetypes/bmp-48_32.png');}
.tiff_btn, .tif_btn             {background-image: url('../images/filetypes/tiff-48_32.png');}
.mpg_btn, .mpeg_btn, .mpe_btn   {background-image: url('../images/filetypes/mpeg-48_32.png');}
.qt_btn, .mov_btn, .mp4_btn     {background-image: url('../images/filetypes/mov-48_32.png');}
.avi_btn                        {background-image: url('../images/filetypes/avi-48_32.png');}
.aif_btn, .aiff_btn, 
.wav_btn, .mp3_btn, .m4a_btn    {background-image: url('../images/filetypes/wav-48_32.png');}
.zip_btn, .rar_btn, .imscc_btn  {background-image: url('../images/filetypes/zip-48_32.png');}
.mid_btn                        {background-image: url('../images/filetypes/midi-48_32.png');}

/* Borderradius*/
.border-radius, nav div > img{
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;   
}
/* Top Borderradius*/
.border-top-radius {
    border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;   
}

.border-bottom-radius,  .tzSelect, .tzSelect li:last-of-type, .tzSelect .selectBox:hover {
    border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; 
}

/* Farbverlauf */
.gray-gradient,  .boxheader  { /* gradients cross-browser-ready*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#bfbfbf));
    background: -webkit-linear-gradient(top, #f2f2f2, #bfbfbf);
    background: -o-linear-gradient(top, #f2f2f2, #bfbfbf);
    background: -moz-linear-gradient(top, #f2f2f2, #bfbfbf);
    background: -ms-linear-gradient(top, #f2f2f2, #bfbfbf);
    background: linear-gradient(top, #f2f2f2, #bfbfbf);
}
.gray-border,  .filelist, .tzSelect, .tzSelect li, .card1, .card2, .card3 {
    border: 1px solid hsl(0,0%,70%);
}

.border-box {
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 40px;
}
.right-block {
    display:block;
    background-color: #009900;
    color: #FFF;
    padding: 2px;
    margin-left: 8px !important;
}

.right-box {
    padding: 1px;
    border: 1px;
    border: dotted; 
    border-color: green;
    margin-left: 6px !important;
}
.wrong-block {
    display:block;
    background-color: #990000;
    color: #FFF;
    padding: 2px;
    margin-left: 8px !important;
}
.wrong-box {
    padding: 1px;
    border: 1px;
    border: dotted; 
    border-color: red;
    margin-left: 6px !important;
}

.box {
    float: left;
    height: 150px;
    width: 150px;
    position: relative;
}

.boxwrap {
    width: 150px;
    overflow:hidden;
}

.boxheader {
    border-bottom: rgb(221, 221, 221);
    margin-bottom: 1px;
    position: absolute;
    padding-top: 5px;
    text-indent: 10px;
    top :0px; left:0px; right:0px;
    width: 100%;
    height: 20px;
    font-size: 90%;
}
.boxscroll{
    width: 160px; /*20px more than box to hide scrollbar*/
    padding-top: 30px;
    padding-right: 25px; /*for Firefox only*/
    padding-bottom: 20px;
    overflow: auto;
    height: 74px!important;  
}
.boxcontent {    /*Hack: boxwrap, boxscroll and boxcontent used to hide scroll crossbrowser compatible*/
    width:130px; 
    font-size: 90%;
    padding-left: 10px;
}

.boxfooter {
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: 1px;
    position: absolute;
    padding-top: 5px;
    text-indent: 10px;
    bottom:0px; left:0px; right:0px;
    width: 100%;
    height: 20px;
}
.boxred {/*gradients cross-browser-ready*/
    background: #FF0000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#FF0000));
    background: -webkit-linear-gradient(top, #f2f2f2, #FF0000);
    background: -o-linear-gradient(top, #f2f2f2, #FF0000);
    background: -moz-linear-gradient(top, #f2f2f2, #FF0000);
    background: -ms-linear-gradient(top, #f2f2f2, #FF0000);
    background: linear-gradient(top, #f2f2f2, #FF0000);
 
}
.boxgreen {/*gradients cross-browser-ready*/
    background: #00FF00;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#00FF00));
    background: -webkit-linear-gradient(top, #f2f2f2, #00FF00);
    background: -o-linear-gradient(top, #f2f2f2, #00FF00);
    background: -moz-linear-gradient(top, #f2f2f2, #00FF00);
    background: -ms-linear-gradient(top, #f2f2f2, #00FF00);
    background: linear-gradient(top, #f2f2f2, #00FF00);
    
}
.boxorange { /*gradients cross-browser-ready*/
    background: #FF8000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#FF8000));
    background: -webkit-linear-gradient(top, #f2f2f2, #FF8000);
    background: -o-linear-gradient(top, #f2f2f2, #FF8000);
    background: -moz-linear-gradient(top, #f2f2f2, #FF8000);
    background: -ms-linear-gradient(top, #f2f2f2, #FF8000);
    background: linear-gradient(top, #f2f2f2, #FF8000);
}

.space-left         { margin-left:      10px; }
.space-right        { margin-right:      10px; }
.space-top          { margin-top:       10px; }
.space-top-bottom   { padding-top:      40px;
                      padding-bottom:   20px;}
.space-bottom       { padding-bottom:   20px;}
.text               { color:            #444; }
.badge_label        { width: 120px !important; }
.center             { text-align:       center; } 
.block              { display:          inline-table; }
.inputlarge         { width:            400px; }
.inputsmall         { width:            25px; }
.tiny_txt           { font-size:        80%;
                      margin-top:       -5px !important;
                      margin-bottom:    5px;}
.error              { color:            red; 
                      background-color: #f2f2f2;}
.floatleft          { float: left; }
.floatright         { float: right; }

header { /*Anpassung an curriculumonline.de*/
        background: rgb(255, 255, 255) url(../images/logo_white_bg.png)  15px 10px no-repeat;
        background-origin: padding-box;
        background-size: auto;
        box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 2px 0px;
        color: rgb(102, 102, 102);
        display: block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 17px;
        font-weight: 300;
        height: 70px;
        left: 0px;
        line-height: 27px;
        position: fixed;
        top: 0px;
        width: 100%;
        word-wrap: break-word;
        z-index: 1001;
        border-bottom: 4px solid #8e8e8e;  /*RLP Linie*/
}

header:before{
        border-bottom: 4px solid #871d33;   /*RLP Linie*/
        height: 74px;
        width: 220px;
        content: '';
}


header a, header, #app_title a, .logininfo{
    color: rgb(51, 51, 51);
    text-decoration: none;
    z-index: 10000;
}
#header_center { /*Anpassung an curriculumonline.de*/
        /*background: rgb(255, 255, 255) url(../images/logo_white_bg.png)10px 10px no-repeat;*/
        background-size: 150px 50px;
        height: 70px;
        width: 160px; 
        position: absolute;
        left: 230px; 
}

#app_title{
    font-size:      18px;
    font-weight:    bold;
    height:59px;
    padding: 11px 0px 0px 75px;
    border-bottom: 4px solid #871d33;   /*RLP Linie*/
    
}

.logininfo {  
    float:right;
    font-size: 14px;
    font-weight: 600;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 0px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    text-transform: uppercase;
    word-wrap: normal;
    vertical-align: middle;
    min-width: 180px;
    display: inline;
}
.logininfo img{
    float:right;
    vertical-align: middle;
    height: 40px;
}
.logininfo li > div > span{
    position: absolute;
    margin-top: -15px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 10px;
    font-weight: 100;
}

.logininfo ul {
    display:none;
}
.logininfo:hover  ul {
    background: rgb(255, 255, 255);
    -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 5px 6px 0px;
    z-index: 900;
    display:block;
    margin-top: 23px;
}
.logininfo:hover ul > li, .logininfo:hover ul > a {
    border-top-color: rgb(238, 238, 238);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: list-item;
    font-family: 'Open Sans', Arial, sans-serif !important;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 30px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    pointer-events: auto;
    text-transform: none;
    //word-wrap: break-word;
}
.logininfo:hover ul > li:hover, .logininfo:hover ul > a:hover {
    background: rgb(76, 144, 254); 
}

.navbar {
    padding: 0;
    border: none;
    margin: 0;
    clear: both;
}

.breadcrumb_left{
    float:left;
    padding: 10px 0px 0px 230px;
    color: #FFF;
    text-decoration: none;
    
}
.breadcrumb_right{
    float:right;
    padding: 10px;

}

.menu {
    /*margin:         10px;*/
    width:          230px;
    background-color: #2d3c4b;
}

.contentheader{
    color:          #333;
    font-family:    'Open Sans', Arial, sans-serif;
    font-size:      14px;
    font-weight:    600;
    text-transform: uppercase;
    padding:        10px 0px 3px 10px;
    margin:         0 0 10px 0;
    border-bottom:  1px solid #d1cece;
}

.td_options {
    padding-left:   5px;
}

input[type="submit"] {
    padding:        2px;
    margin-top:     5px;
    margin-bottom:  10px;
    width:          170px !important;
}
.menusubmit {
    margin:         0px 0px 0px 10px !important;
}

.selSolution {
    width:          130px;
}

nav select{
    margin:         10px;
    width:          190px;
}


nav a, .contentlist a {
    color:          #000 !important;
    text-decoration:none;
}

/*nav li > p:after {
    border-top:     1px solid #444;
    margin-bottom:  1px;
}*/

nav div > p{
    float:          right;
    margin-right:   10px;
    font-size:      12px;
}
/*nav div > p:first-of-type {
    margin-top:     5px;
}*/
nav li {
    padding:         12px 10px 12px 10px;
}

nav li > p {
    margin:         5px 10px 10px 10px;
    border-bottom:  1px solid hsl(0,0%,70%);
    margin-bottom:  1px;
}
/*nav li:last-child > p {
    margin:         5px 10px 10px 10px;
    border-bottom:  0px;
    margin-bottom:  1px;
}*/

/*nav li:last-of-type {
    border:         none;
    margin:         0;
}*/

nav div > img {
    margin-top:     5px;
    margin-left:    10px;
    width:          50px;
}

 /*.contenttablerow, .activecontenttablerow, #contenttablehead, h3, .line, .contentlist { 
    border-bottom:  1px solid hsl(0,0%,70%);
    margin-bottom:  1px;    
}

.contenttablesearch {
    margin-top: -5px;
    width:          70px; 
    margin-left:   10px;
    margin-right: 10px;
    //float:          right; 
    outline:        none; 
    border:         none; 
    border-bottom:      1px solid hsl(0,0%,70%);
    -webkit-box-shadow: none; 
    box-shadow:         none;
}*/
.line-top {
    border-top:  1px solid hsl(0,0%,70%);
    margin-top:  1px;
    display:     block;
    margin-left: 10px;
    padding-bottom: 10px;

}
/*
#main { 
    overflow:       auto;
    padding-bottom: 40px;
}

#content {
    padding-right:  10px;
    padding-bottom: 30px;
    
}
#contenttable { 
    margin:         auto;
    width:          -webkit-calc(100% - 20px);
    width:          -moz-calc(100% - 20px);
    width:          calc(100% - 20px);
    font-size:      90%;
}*/

/* message.tpl */
.mailheader         { vertical-align: baseline !important;
                      line-height:normal !important;
                      margin-left: 0px !important;
                      padding-left: 0px !important; }
.mailborder         { padding-right: 10px !important; }
.mailseperate       { border-right: 2px groove hsl(0,0%,100%); }
.mailnew            { font-weight: bold; }
.mailpreview        { font-weight:normal !important;}
.mail-correction    { margin-left: -10px; // Korrigiert linken Rand, wenn <p> TAG am Anfang der Message (->HTML-Mail)  }
.mailcontenttable   { width: 300px !important; 
                      height: 100% !important; }
.mail               { padding:10px;  
                      margin-bottom: 10px; }
#mailbox            { position: relative;
                      margin-left: 300px;
                      margin-top: 20px;
                      margin-right: 10px;
                    /*width wird über js dynamisch gesetzt*/ }
#mailbox img {        max-width: 100%; display:block;}
.message_text {       margin-left: 310px;
                      margin-top: 5px;
                      margin-right: 10px;
                      position:absolute;
}

/*
.activecontenttablerow, .activefilenail, .contenttablerow:hover{
    background: #5f5f5f !important;
    color: #ccc !important;    
}*/

.filenail:hover, .activefilenail:hover {
    background: #8f8f8f !important;
    color: #ccc !important;    
}

.filenail:hover .filelink, .activefilenail .filelink{ /*damit der Text lesbar bleibt*/
    color: #ffffff;
}

.p_info{
    font-size:      10px;
    padding-right: 5px;
    color: #444;
    display: inline-block;
}

/*#contenttable td, #contentsmalltable td { vertical-align: middle ; }
#contenttable td:first-child            { padding-left: 5px ; }
#contenttable tr:nth-child(odd)     { //background-color:  rgb(238, 238, 238); }
#contenttable tr:nth-child(even)    { background-color:  rgb(246, 246, 246); }
#contenttable > tr {
    margin-left: 10px;
}*/
.centervertical {
    margin-top: 6px;
    vertical-align: middle !important;
}

/* Bezug auf Form ist wichtig, damit sowohl quickForm 2 als auch andere Formulare richtig angezeigt werden*/
form > p > label { 
    display: inline-block;
    width: 200px;
    line-height: 25px;
    text-indent: 0px;
}

/*#contenttablehead {
    border-top: 2px groove hsl(0,0%,100%);
    height: 20px;
    font-weight: bold;
} */  

/*#contentsmalltable {
    padding-top: 10px;
    margin-left:        10px;
    width:              50%;
    font-size:          90%;
    height:40px;
    vertical-align: middle;
}*/

.scroll{
    overflow:auto;
    margin:0;
}


#right {
    padding:            0px 10px 0px 10px;  
    float:              right;
    width:              105px;
    border-left:        2px groove hsl(0,0%,100%);		
    color:              #444;
}

#right img { 
    width:              100px; 
}

/*Material-Popup*/
.materialtxt { 
    padding-left:       120px;
}
.material_container{
   height: 110px;
   display: block;
}
.materialseperator { 
    border-top:     1px solid #d1cece;
    margin-top:     25px;
    
    
    
}

.verticalSeperator {
    border-left: 1px groove hsl(0,0%,100%);
}
#uf_content{
    padding-left: 10px;
    min-height: 325px;
}

/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}
#TB_window          { font: 12px Arial, Helvetica, sans-serif; }
#TB_secondLine      { font: 10px Arial, Helvetica, sans-serif; }
#TB_window a:link   { color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover  { color: #000;}
#TB_window a:active { color: #666666;}
#TB_window a:focus  { color: #666666;}
#TB_overlay         { position: fixed;
                      z-index:1005;
                      top: 0px;
                      left: 0px;
                      height:100%;
                      width:100%; }
.TB_overlayMacFFBGHack {/*background: url(macFFBgHack.png) repeat;*/}
.TB_overlayBG       { background-color:#000;
                      filter:alpha(opacity=75);
                      -moz-opacity: 0.75;
                      opacity: 0.75; }
* html #TB_overlay  { /* ie6 hack */
                      position: absolute;
                      height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }
#TB_window          { position: fixed;
                      z-index: 1005;
                      display:none;
                      text-align:left;
                      top:50%;
                      left:50%; }

* html #TB_window   { /* ie6 hack */
                      position: absolute;
                      margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }
#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}
#TB_caption         { height:       25px;
                      padding:      7px 30px 10px 25px;
                      float:        left; }
#TB_closeWindow     { height:       25px;
                      padding:      11px 25px 10px 0;
                      float:        right; }
#TB_closeAjaxWindow { padding:      7px 10px 5px 0;
                      margin-bottom:1px;
                      text-align:   right;
                      float:        right; }
#TB_ajaxWindowTitle { float:        left;
                      padding:      7px 0 5px 10px;
                      margin-bottom:1px; }
#TB_title           { background-color:#e8e8e8;
                      height:       27px; }
#TB_ajaxContent     { clear:        both;
                      padding:      2px 15px 15px 15px;
                      overflow:     auto ;
                      text-align:   left;
                      line-height:  1.4em; }
#TB_ajaxContent.TB_modal{ padding:  15px; }
#TB_ajaxContent p   { padding:      5px 0px 5px 0px; }
#TB_load            { position:     fixed;
                      display:      none;
                      height:       13px;
                      width:        208px;
                      z-index:      1005;
                      top:          50%;
                      left:         50%;
                      margin:       -6px 0 0 -104px; /* -height/2 0 0 -width/2 */}
* html #TB_load     { /* ie6 hack */
                      position:     absolute;
                      margin-top:   expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); }
#TB_HideSelect{       z-index:1005;
                      position:fixed;
                      top: 0;
                      left: 0;
                      background-color:#fff;
                      border:none;
                      filter:alpha(opacity=0);
                      -moz-opacity: 0;
                      opacity: 0;
                      height:100%;
                      width:100%;}
* html #TB_HideSelect { /* ie6 hack */
                      position: absolute;
                      height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px'); }
#TB_iframeContent   { clear:both;
                      border:none;
                      margin-bottom:-1px;
                      margin-top:1px;
                      _margin-bottom:1px; }

/*popup*/
.modal { /*Reihenfolge wichtig! da sonst fehlerhafte Darstellung in chrome und win98*/
    top:15px;
    width:          600px;
    left:           50%;
    margin-left:    -300px; /* negative half the size of width */
    z-index:        10000;/* place overlay on top of other elements */
    position:       fixed;
    display:        none; /* muss unter display:none stehen! --> sonst funktioniert es bei Win 98*/
    
    
    
}

.messageboxClose, .uploadframeClose {
    background: url(../images/x.png) no-repeat; 
    width:          25px; 
    height:         29px; 
    display:        inline; 
    z-index:        1001; 
    position:       absolute; 
    cursor:         pointer;
}

.uploadframeClose{
    top:            0px; 
    right:          0px; 
}

.messageboxClose{
    top:            -15px; 
    right:          -15px; 
}

iframe { width: 600px;
         height: 500px; }

#popupcontent {
        max-height: 700px;
        background: #fff !important;
        padding:    0px 10px 0px 10px;
}
.popup_footer {
    display: block;
    position: absolute;
    background-color: #fff !important;
    bottom:0px; 
    width: 100%;
}
.unav, .unav_menu{
    width:          200px !important;
}
#img_FilePreview{
    width:          180px;
    max-height:     180px;
}
#div_fileuploadbtn, #div_filelastuploadbtn, #div_curriculumfilesbtn, #div_myfilesbtn, #div_solutionfilesbtn, #div_fileURLbtn, #div_avatarfilesbtn { /*Breite begrenzen*/
   width:           490px; 
   height:          360px;
}

.materialtxt_small {
    font-size: 10px;
}

#div_filelastuploadbtn, #div_curriculumfilesbtn, #div_myfilesbtn, #div_solutionfilesbtn, #div_avatarfilesbtn {
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.filelist {
    margin: 2px;
    padding: 10px;
    width: 74px;
    height: 87px;
    overflow: hidden;
}
.filesingle{
    width: 90px;
}

.filelisticon {
    float: none !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filelink {
    float:none !important;
    display: block;
    font-size:10px;
    text-align: center;
    word-wrap: break-word;
}

#uploadframe_body, .modal{
    background: #fff !important;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.uploadframe_menu{
    width:190px !important;
}

.uploadframe_footer {
    display: block;
    background-color: #fff !important;
    font-weight: normal;
    font-size: 11px;
    margin-top: 1px;
    min-height: 20px;
    position: absolute;  
    padding: 5px 0px 5px 10px;
    bottom:0px; left:205px; right:0px;
    width: 100%;
}